/* Filename: login.css */
 
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url() no-repeat;
    background-size: cover;
    color:black !important;
}

  
.login-box {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50% !important;
    transform: translate(-50%, -50%);
    color:black;
}
  
.login-box h1 {
    float: left;
    font-size: 40px;
    border-bottom: 4px solid white !important;
    margin-bottom: 50px;
    padding: 13px;
}
  
.textbox {
    width:400px;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid white !important;
}
  
.fa {
    width: px;
    float: left;
    text-align: center;
}
  
.textbox input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    float: left;
    margin: 0 10px;
}
  
.button {
    width: 400px;
    padding: 8px;
    color: #ffffff;
    background: none #515E63;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    margin: 12px 0;
}